@import '../../../lib/styles/mediaQuery.scss';

.category-scroll {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    margin: 30px 0;
    max-width: 1050px;
    text-align: right;
}


.category-slide {
    width: 100%;
    overflow: hidden;
}

.category-list-item {
    min-width: 150px;
}

/** min-width */
@media screen and (min-width: $narrowest) {
    .category-scroll {
        min-width: 100%;
    }
}

/** max-width */
@media screen and (max-width: $narrowest) {
    .category-slide {
        height: 35px;
    }
}