@import '../../../lib/styles/mediaQuery.scss';

.bookmark-job-list {
    margin: 2 -10px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    & li {
        width: calc( (100% - 150px) / 4);
        height: 30vw;
        max-height: 300px;
        margin: 10px;
        margin-bottom: 20px;
    }
}

.empty-message-container {
    padding: 60px 0;
    text-align: center;
}

.custom-message {
    margin: 240px 0;
    color: #d1d1d1;
    font-size: 24px;
}

/** max-width */

@media screen and (max-width: $narrower) {
    .bookmark-job-list {
        & li {
            width: calc( (100% - 80px) / 2);
            height: 60vw;
            max-height: 420px;
        }
    }
}

@media screen and (max-width: $narrowest) {
    .bookmark-list {
        overflow: hidden;
    }

    .empty-message-container {
        padding: 140px 0;
    }
}