@import '../../../lib/styles/mediaQuery.scss';

.joblist-contentwrapper {
    position: relative;
    max-width: 1060px;
}

.joblist-content-divider {
    width: 100vw;
    margin-bottom: 38px;
    margin-left: calc(-50vw + 50%);
    background-color: #e1e2e3;
    height: 1px;
    border: none;
    flex-shrink: 0;
}

/** max-width */ 
@media screen and (max-width: $narrowest) {
    .joblist-contentwrapper {
        padding-bottom: 20px;
    }

    .joblist-content-divider {
        display: none;
    }
}

/** min-width */
@media screen and (min-width: $narrow) {
    .joblist-contentwrapper {
        margin: 0 auto;
        padding: 20px 0 80px;
        width: 87.72%
    }
}